* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(153, 153, 226);
    font-size: 1.01rem;
}

.left {
    font-size: 1.5rem;
}
.Project{
    padding: 23px;
    margin: 25px;
}
.Project-container{
    display: flex;
    background-color: red;
    /* align-items: center; */
}
.Project-img{
    
    width: 35%;
    padding: 15px;
    
}